:root {
    --blue-page: #112236;
    --blue-light: #436280;
    --blue-light-text: #436280;
    --black-green-menu: #0e110f;
    --first-color-white: white;
    --second-color-black: #232925;
    --decoration-color-text: #025377;
    --footer-color: #112236;
    --light-shadow: #dddd; 
    --sm: 12px;
    --md: 24px;
    --lg: 30px;
    --typography: 'Montserrat', sans-serif;
    --form-background: #e4f4fd;
    --footer-color-icons: white;
    --description-color: #232925;
    --shadow-cards: #97cbdc;
    --shadow-navbar: #97cbdc;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}

.dark-mode {
    --blue-page: white;
    --blue-light: white;
    --black-green-menu: white;
    --footer-color-icons: white;
    --first-color-white: #112236;
    --second-color-black: white;
    --form-background: #004581;
    --footer-color: #051f34;
    --light-shadow: #051f34; 
    --description-color: #bdc2bf;
    --shadow-cards: #051f34;
    --shadow-navbar: #97cbdc;
}

body {
    background-color: var(--first-color-white);
    transition: background-color 0.8s;
}

header {
    height: 3rem;
    width: 100%;
    z-index: 100;
    box-shadow: 1px 0px 1px var(--light-shadow);
}

.inactive {
    display: none;
}

.navbar {
    width: 100%;
    height: 100%;
}

.navbar-elements__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    height: 100%;
}

.navbar-elements__container .logo-container {
    width: 65%;

}

.navbar .navbar-elements__container .logo-container h1 {
    color: var(--black-green-menu);
    font-family: var(--typography);
    font-weight: 500;
    letter-spacing: 1px;

}

.navbar .navbar-elements__container .logo-container h1 span {
    color: var(--decoration-color-text);
}


.navbar-right__elements {
    display: flex;
    align-items: center;
}

.navbar-right__elements button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.navbar-right__elements .navbar-icon__dark {
    margin-right: 20px;
}

.navbar-elements__containerpc {
    display: none;
}

.navbar-modal__container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0px;
    width: 80%;
    background-color: var(--first-color-white);
    box-shadow: -2px 0px 4px var(--light-shadow);
    border-radius: 1rem 0 0 1rem;
    z-index: 100;
    transition: all 0.6s ease-out;
    transform: translateX(0%);
}

.navbar-modal__menu {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.navbar-modal__menu ul li {
    margin-bottom: 50px;
    text-align: center;
    font-family: var(--typography);
}

.navbar-modal__menu ul li:first-child {
    margin-top: 70px;
}

.navbar-modal__menu ul li a {
    text-decoration: none;
    color: var(--second-color-black);
    transition: all 330ms;
}

.navbar-modal__menu ul li a:hover {
    color: var(--shadow-navbar);
}

.navbar-icon path {
    fill: var(--second-color-black);
}


.navbar-modal__menuClose {
    position: relative;
    cursor: pointer;
}

.navbar-modal__menuClose svg {
    position: absolute;
    top: 55px;
}

.navbar-modal__menuClose svg path {
    fill: var(--second-color-black);
}

/*Main -- Sections*/
.content {
    width: 100%;
    height: auto;
    
}

.content-photo-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my-photograph__container {
    width: 200px;
    height: auto;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-top: 50px; 
}

.my-photograph__container img {
    width: 200px;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: -2px -2px 1px var(--blue-light), 2px 2px 1px var(--blue-light);
}

.info-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 20px auto;
    gap: 20px;
    text-align: center;
}

.info-presentation__person {
    color: var(--second-color-black);
    font-size: var(--lg);
    font-weight: bold;
    font-family: var(--typography);
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.info-presentation__person span {
    color: var(--blue-light-text);
}

.info-presentation__role {
    color: var(--second-color-black);
    font-size: var(--md);
    font-weight: 300;
    font-family: var(--typography);
    text-align: center;
    letter-spacing: 1px;
    position: relative;
}

.info-presentation__role span {
    position: absolute;
    right: 0px;
    width: 0px;
    background: var(--first-color-white);
    border-left: 1px solid var(--second-color-black);
    animation: writting 5s infinite alternate steps(26);
}

@keyframes writting {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.info-buttons {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 300px;
    grid-template-columns: 1fr;
    margin: 0px auto;
}

.info-buttons .button-downloadcv {
    width: 60%;
    height: 50px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: var(--blue-light);
    color: var(--first-color-white);
    box-shadow: 3px 3px 3px var(--light-shadow);
    font-size: var(--sm);
    font-family: var(--typography);
    border: none;
    cursor: pointer;
    text-decoration: none;
    line-height: 50px;
}

.info-buttons .info-button-two {
    width: 60%;
    height: 50px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: var(--blue-light);
    color: var(--first-color-white);
    box-shadow: 3px 3px 3px var(--light-shadow);
    font-size: var(--sm);
    font-family: var(--typography);
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.info-buttons .button-downloadcv:hover {
    box-shadow: 1px 1px 3px var(--light-shadow) inset;
}

.info-buttons .info-button-two span {
    margin-left: 5px;
    margin-top: 3px;
}

.info-buttons .info-button-two span svg {
    width: 18px;
    height: 18px;
}

.info-buttons .info-button-two span svg path {
    fill: var(--first-color-white);
}

.info-buttons .info-button-two:hover {
    box-shadow: 1px 1px 3px var(--light-shadow) inset;
}

.info-socialnetwork__container {
    width: 50%;
    margin: 0px auto;
}

.info-socialnetwork__container .info-socialnetwork__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info-socialnetwork__container .info-socialnetwork__items li a {
    cursor: pointer;
}

.info-socialnetwork__container .info-socialnetwork__items li a svg path {
    fill: var(--blue-light);
}


.aboutme-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.aboutme-container h2 {
    color: var(--second-color-black);
    font-family: var(--typography);
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-align: center;
}

.info-small-description {
    display: none;
}

.aboutme-container .aboutme-first__text {
    color: var(--second-color-black);
    font-family: var(--typography);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}

.aboutme-container .aboutme-first__text span {
    color: var(--blue-light);
}

.aboutme-container .aboutme-description {
    color: var(--description-color);
    font-family: var(--typography);
    font-size: var(--sm);
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: 500;
    padding: 0px 10px;
}


.aboutme-image__container {
    width: 80%;
    max-width: 240px;
    border-radius: 37% 63% 66% 34% / 36% 16% 84% 64%;
    background-color: var(--blue-page);
    margin: 20px auto;
}

.aboutme-image__container img {
    width: 200px;
}

/*Skills*/
.skills-content {
    width: 100%;
    height: auto;
}

.skills-content h2,
.training-content h2,
.projects-content h2,
.contactme-content h2 {
    font-family: var(--typography);
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--second-color-black);
    letter-spacing: 1px;
    text-align: center;
}

.skills-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 26px;
    place-content: center;
    margin-bottom: 20px;
}

.skills-container .skills-item {
    background-color: var(--second-color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 30px;
    width: 160px;
    height: 160px;
    transition: all 300ms;
    box-shadow: 3px 3px 3px var(--shadow-cards);
}

.skills-container .skills-item .skills-item__github {
    width: 90px;
    height: 90px;
    max-width: 100px;
}

.skills-container .skills-item .skills-item__github path {
    fill: var(--first-color-white);
}

.img-cards {
    width: 100px;
    max-width: 100px;
    margin-bottom: 10px;
}

.skills-container .skills-item span {
    text-align: center;
    color: var(--first-color-white);
    font-family: var(--typography);
    font-weight: 300;
    letter-spacing: 1px;
}

.training-content {
    width: 100%;
    height: auto;
}

.training-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    place-content: center;
    gap: 26px;
    margin-bottom: 20px;
}

.training-container .training-item {
    background-color: var(--second-color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    transition: all 300ms;
    box-shadow: 3px 3px 3px var(--shadow-cards);
    margin-right: 20px;

}


.training-container .training-item p {
    text-align: center;
    color: var(--first-color-white);
    font-family: var(--typography);
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.training-container .training-item span {
    text-align: center;
    color: var(--first-color-white);
    font-family: var(--typography);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: var(--sm);
}

/*Projetcs*/
.projects-content {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.projects-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 255px);
    gap: 26px;
    place-content: center;
}

.projects-container .projects-item {
    width: 100%;
    height: 480px;
    border-radius: 10px;
    background-color: var(--first-color-white);
    box-shadow: 3px 3px 3px var(--light-shadow), -3px -1px 3px var(--light-shadow);
}

.projects-container .projects-item .projects-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.projects-container .projects-item .projects-item__title {
    color: var(--black-green-menu);
    font-family: var(--typography);
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}

.projects-container .projects-item .projects-item__description {
    width: 100%;
    display: block;
    text-align: justify;
    padding: 10px;
    color: var(--black-green-menu);
    font-family: var(--typography);
    font-weight: 300;
}

.projects-container .projects-item .projects-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.projects-container .projects-item .projects-buttons a {
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 50px;display: flex;
    align-items: center;
    justify-content: center;
    color: var(--first-color-white);
    background-color: var(--blue-light);
    border-radius: 10px;
    font-size: 14px;
    font-family: var(--typography);
    box-shadow: 1px 1px 1px var(--light-shadow);
    transition: all 300ms;
    cursor: pointer;
}

.projects-container .projects-item .projects-buttons a:hover {
    box-shadow: 1px 1px 1px var(--first-color-white) inset;
}

.projects-container .projects-item .projects-buttons span {
    margin-left: 10px;
}

.projects-container .projects-item .projects-buttons svg path {
    fill: var(--first-color-white);
}

/*Contact me*/
.contactme-content {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.contactme-content .contactme-info {
    text-align: center;
    margin: 0px auto;
    color: var(--black-green-menu);
    font-family: var(--typography);
    font-size: var(--sm);
    font-weight: 500;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.contactme-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    max-width: 320px;
    margin: 0px auto;
}

.contactme-container .container-items {
    display: inline-block;
    width: 90%;
    height: auto;
    position: relative;
    margin: 0px auto;
    border-radius: 10px;
}

.contactme-container .container-items .contactme-label-form {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--second-color-black);
    font-family: var(--typography);
    font-size: var(--sm);
    font-weight: 500;
}

.contactme-container .container-items .contactme-label-form span {
    color: red;
}

.contactme-container .container-items .contactme-input-form {
    width: 100%;
    height: 70px;
    background-color: var(--form-background);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    color: var(--second-color-black);
}

.contactme-container .container-items:nth-child(4) .contactme-input-form {
    height: 150px;
}

.contactme-container .button-form {
    width: 90%;
    margin: 0px auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--first-color-white);
    background-color: var(--blue-light);
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px var(--light-shadow);
    margin-bottom: 10px;
    font-family: var(--typography);
    font-weight: 300;
    cursor: pointer;
}

.contactme-container .button-form:hover {
    box-shadow: 1px 1px 1px var(--first-color-white) inset;
}

.contactme-container .button-form span {
    margin-left: 5px;
    margin-top: 2px;
}

.contactme-container .button-form span svg {
    width: 18px;
    height: 18px;
}

.contactme-container .button-form span svg path {
    fill: var(--first-color-white);
}

.scrollUp-container {
    position: relative;
}

.go-top-container {
    position: fixed;
    bottom: 6.6rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    background-color: var(--blue-page);
    transform: scale(0);
    transition: all 300ms;
    border: 1px solid var(--first-color-white);
}

.go-top-container svg {
    width: 30px;
    height: 30px;
}

.go-top-container svg path {
    fill: var(--first-color-white);
}

.show-top-container {
    transform: scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }
    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}

.footer {
    width: 100%;
    height: auto;
    background-color: var(--footer-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.footer svg path {
    fill: white;
}

.footer p {
    text-align: center;
    font-family: var(--typography);
    margin-top: 20px;
    font-family: var(--typography);
    font-size: var(--sm);
    font-weight: 500;
    color: var(--footer-color-icons);
    letter-spacing: 1px;
}





